// @use 'styles/_colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@100;400&display=swap');
// font-family: 'Patrick Hand', cursive;

.root {
    position: relative;
    border: 1px solid #cdcdcd;
    margin: 0 auto;
    display: flex;
    width: 1280px;
    height: 442px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    & > svg {
        path {
            -webkit-filter: drop-shadow( 0px -1px 0px #747474);
            filter: drop-shadow( 0px -1px 0px #747474);
        }
    }
}

.referenceImage {
    position: absolute;
    left: 50%;
    width: 70%;
    opacity: 0.4;
    transform: translate(-50%, -50%);
    top: 50%;
}

.background {
    width: 894px;
    height: 398px;
    border-radius: 177px;
    display: flex;
    justify-content: center;
    position: relative;
}

.leftStick, .rightStick {
    position: relative;
    width: 129px;
    top: 73px;
    display: block;
    height: 212px;

    & > svg {
        overflow: inherit;
    }
}

.leftStick {
    left: -24px;
}

.rightStick {
    right: -25px;
    transform: scaleX(-1);
    
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buttonItem {
            svg {
                width: 13px;
            }
            &:nth-of-type(1) {
                svg {
                    width: 16px;
                }
            }
            &:nth-of-type(2) {
                position: absolute;
                top: 3px;
                left: calc(50% - 16px);

                svg {
                    width: 15px;
                    margin-bottom: 2px;
                }
            } 
            &:nth-of-type(3) {
                position: absolute;
                bottom: 3px;
                left: calc(50% - 16px);
            }
        }
    }
}

.buttons {
    position: absolute;
    width: 116px;
    height: 114px;
    top: 3px;
    right: 10px;
    border-radius: 50%;
    padding: 1px;
    box-sizing: border-box;
    background: #6b6b6d;
    background: linear-gradient(180deg, rgb(59 59 61) 0%, rgb(72 72 75) 28%, rgba(80,80,82,1) 61%, rgb(143 143 143) 100%)
    // background: linear-gradient(176deg, rgba(52,52,54,1) 34%, rgba(105,105,107,1) 100%);
}

.buttonItem {
    position: relative;
    border: 2.5px solid #020203;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: rgb(30,32,34);
    background: linear-gradient(32deg, rgb(30, 32, 34) 44%, rgb(124 124 128) 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        position: absolute;
        width: 36px;
        height: 37px;
        border: 1px solid rgb(255 255 255 / 35%);
        left: -6px;
        top: -2px;
        border-radius: 50%;
    }
    &:after {
        content: "";
        position: absolute;
        width: 36px;
        height: 37px;
        border: 1px solid rgb(255 255 255 / 58%);
        right: -6px;
        bottom: -2px;
        border-radius: 50%;
    }
}

.analogicContainer {
    border: 1px solid white;
    position: absolute;
    bottom: 6px;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    right: 6px;
    padding: 5px;
    box-sizing: border-box;
}

.analogicBaseGradient {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(2,2,2,1) 18%, rgba(201,203,203,1) 46%, rgba(201,203,203,1) 51%, rgba(2,2,2,1) 82%);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analogicItem {
    width: 100%;
    height: 100%;
    background: #262727;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    background: linear-gradient(360deg, rgba(26,26,28,1) 22%, rgba(38,39,39,1) 32%, rgba(62,63,65,1) 100%);
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 55px;
        height: 55px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        left: -5px;
        top: 1px;
        border-radius: 50%;
    }
}

.speakers {
    width: 50px;
    height: 27px;
    position: absolute;
    left: -20px;
    top: 164px;

    span {
        position: relative;
        width: 8px;
        height: 8px;
        float: right;
        margin-left: 5px;
        border-radius: 50%;
        background: black;

        &:before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            bottom: -15px;
            right: -3px;
            border-radius: 50%;
            background: black;
        }
    }
}

.groupButtons {
    transform: scaleX(-1);
    display: flex;
    margin-top: 20px;
    padding-left: 12px;
    
    .ovalButton {
        font-size: 7.5px;
        
        &:nth-of-type(1) {
            margin-right: 13px;
        }
    }
}

.ovalButton {
    border-radius: 47%;
    text-transform: uppercase;
    width: 36px;
    height: 19px;
    letter-spacing: -0.5px;
    background: #1c1d1e;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 0px;
    position: relative;
    overflow: hidden;
    color: #c1c4c4;
    &:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 20px;
        border: 1px solid rgb(255 255 255 / 33%);
        border-radius: 47%;
        top: -0.5px;
        left: -5px;
    }
}

.camContainer {
    position: absolute;
    width: 21px;
    height: 21px;
    border: 1px solid rgb(74 74 75 / 41%);
    right: 6px;
    top: -5px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
    background: #0d0d0e;
}

.webCam {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background: #2b2c2f;
    box-sizing: border-box;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        border: 1px solid rgb(255 255 255 / 20%);
        width: 17px;
        height: 16px;
        border-radius: 50%;
        left: -2px;
        top: 0px;
    }
    & > div {
        width: 11px;
        height: 11px;
        background: #1e2022;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 2px;
        box-sizing: border-box;
        border: 1px solid #0b0d0e;
        overflow: hidden;
        
        &:after {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            top: 3px;
            background: rgb(30,32,34);
            background: linear-gradient(210deg, rgba(30,32,34,1) 30%, rgba(67,67,69,1) 90%);
            left: 0px;
            border-radius: 50%;
        }
        &:before {
            content: '';
            position: absolute;
            width: 11px;
            height: 5px;
            background: #4c4c4d;
            bottom: -4px;
            left: 0;
        }
    }
}

.sonyLogo {
    position: absolute;
    left: 84px;
    width: 69px;
    top: 54px;
}

.psVitaLogo {
    position: absolute;
    bottom: 27px;
    width: 101px;
    left: calc(50% - 50.5px);
}

.psLogo {
    width: 23px;
    position: relative;
    margin-top: 2px;
}

.ovalPrimeButton {
    position: relative;
    width: 61px;
    height: 30px;
    margin-top: 14px;
    margin-left: 20px;
    border: 3px solid black;

    &:before {
        width: 63px;
        height: 30px;
        left: -4px;
        top: 0px;
    }
}

.triggers {
    width: 62%;
    position: absolute;
    height: 36px;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;

    button {
        width: 120px;
        height: 45px;
        margin-top: 6px;
        border: none;
        background-color: #c4c5c7;
        &:nth-of-type(1) {
            border-top-left-radius: 100%;
            transform: rotate(-7deg);
            margin-left: -5px;
        }

        &:nth-of-type(2) {
            border-top-right-radius: 100%;
            transform: rotate(7deg);
            margin-right: -5px;
        }
    }
}

.crossButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
}

.arrowBtn {
    position: relative;
    width: 23px;
    height: 30px;
    background: #323334;
    box-sizing: border-box;
    z-index: 1;
    & > svg {
        position: absolute;
        z-index: 2;
        top: calc(50% - 6px);
        width: 13px;
    }
    .shadowElement {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        background: rgb(18,20,21);
        background: linear-gradient(0deg, rgba(18,20,21,1) 0%, rgba(18,20,21,0) 17%, rgba(18,20,21,0) 65%, rgba(18,20,21,1) 100%);

        &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 27px;
            border-left: 1px solid rgb(255 255 255 / 59%);
            border-radius: 50%;
        }
    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 14px;
        border-color: transparent transparent transparent #323334;
        position: absolute;
        right: -13px;
        top: 0px;
    }
    &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 30px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    &:nth-of-type(2), &:nth-of-type(3) {
        left: calc(50% - 11.5px);
        position: absolute;
    }
    &:nth-of-type(1) {
        & > svg {
            left: calc(50% - 9px);
        }
        &:before {
            background: #323334;
            top: 0px;
            left: -4px;
        }
        &:after {
            right: -13px;
            top: 0px;
        }
        .sparkleBtn {
            right: 2px;
            top: calc( 50% - 3px);
        }
        .shadowElement {
            left: -5px;
            width: 42px;
            z-index: 1;
            height: 107%;
            &:after {
                content: '';
                position: absolute;
                width: 25px;
                height: 15px;
                border-top: 1px solid rgba(255, 255, 255, 0.59);
                border-radius: 8%;
                left: 4px;
                top: 0px;
            }
            &:before {
                left: 0;
                top: calc(50% - 14px);
            }
        }
    }
    &:nth-of-type(2) {
        top: 10px;
        transform: rotate(270deg);
        z-index: 2;

        & svg {
            transform: rotate(180deg);
            top: 8px;
            left: 8px;
        }
        &:after {
            left: -13px;
            top: 0px;
            transform: rotate(180deg);
        }
        &:before {
            transform: rotate(180deg);
            background: #323334;
            top: 0px;
            right: -4px;
        }
        .shadowElement {
            right: -5px;
            width: 37px;
            z-index: 1;
            height: 107%;
            left: -9px;
            &:after {
                content: '';
                position: absolute;
                width: 23px;
                height: 15px;
                border-top: 1px solid rgba(255, 255, 255, 0.59);
                border-radius: 8%;
                left: 9px;
                top: 0px;
            }
            &:before {
                right: 0px;
                transform: rotate(180deg);
                top: calc(50% - 15px);
            }
        }
    }
    &:nth-of-type(3) {
        bottom: 10px;
        transform: rotate(-90deg);
        z-index: 4;

        & > svg {
            left: 3px;
        }
        &:before {
            transform: rotate(360deg);
            background: #323334;
            top: 0px;
            left: -4px;
        }
        .sparkleBtn {
            right: -2px;
            top: calc(50% - 3px);
            width: 2px;
        }
        .shadowElement {
            right: -5px;
            width: 37px;
            z-index: 1;
            height: 107%;
            left: -4px;
            background: linear-gradient(0deg, rgba(18,20,21,1) 0%, rgba(18,20,21,0) 45%, rgba(18,20,21,0) 83%, rgba(18,20,21,1) 100%);
            
            &:before {
                left: -1px;
                top: calc(50% - 14px);
            }
        }
    }    
    &:nth-of-type(4) {
        z-index: 3;

        & > svg {
            transform: rotate(180deg);
            left: inherit;
            right: 3px;
            top: 7px;
        }
        &:after {
            left: -13px;
            top: 0px;
            transform: rotate(180deg);
        }
        &:before {
            background: #323334;
            top: 0px;
            right: -4px;
            transform: rotate(180deg);
        }
        .sparkleBtn {
            left: -2px;
            top: calc(50% - 3px);
            transform: rotate(180deg);
        }
        .shadowElement {
            right: -4px;
            width: 37px;
            z-index: 1;
            height: 107%;
            left: inherit;

            &:after {
                content: "";
                position: absolute;
                width: 23px;
                height: 15px;
                border-top: 1px solid rgba(255, 255, 255, 0.59);
                border-radius: 8%;
                left: 11px;
                top: 0px;
            }
            &:before {
                right: -1px;
                top: calc(50% - 14px);
                transform: rotate(180deg);
            }
        }
    }
}

.shadowCross {
    position: absolute;
    width: 90px;
    height: 41px;
    background: #030304;
    left: calc(50%);
    border-radius: 3px;
    transform: translate(-50%, -49%);
    top: 50%;
    z-index: 0;
    
    &:nth-of-type(6) {
        transform: rotate(90deg);
        left: calc(50% - 45px);
        top: calc(50% - 20.5px);
    }
    &:before {
        content: '';
        left: -7px;
        height: 41px;
        width: 20px;
        background: #030304;
        position: absolute;
        border-radius: 40%;
    }
    
    &:after {
        content: '';
        right: -7px;
        height: 41px;
        width: 20px;
        background: #030304;
        position: absolute;
        border-radius: 40%;
    }
}

.innerShadow {
    position: absolute;
    box-shadow: 0px 0px 5px 0.7px #6a6a6a;
    z-index: 2;
    width: 44px;
    height: 0px;
    left: 25px;
    top: 50%;
    transform: rotate(45deg);
    box-sizing: border-box;
    &::before {
        content: '';
        top: 50%;
        transform: rotate(-90deg);
        box-sizing: border-box;
        width: 44px;
        height: 0px;
        z-index: 3;
        left: -1px;
        box-shadow: 0px 0px 5px 0.7px #6a6a6a;
        position: absolute;
    }
}

.sparkleBtn {
    position: absolute;
    width: 1px;
    height: 4px;
    border-radius: 50%;
    border-right: 1px solid rgb(255 255 255 / 47%);
}